# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Build output
dist/   
build/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Docker
*.local
docker-compose.override.yml

# Misc
coverage/
.idea/
.vscode/